@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body {
    text-align: center;
    background-color: rgb(19, 18, 18);
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

div#buttons {
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 50px;

}

div#buttons > button {
    font-size:25px;
    cursor: pointer;
}

div#container {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: fit-content;
    width: fit-content;
}

div#container > div {
    height: 400px;
    width: 400px;
}

div#container > div:hover {
   transform: translateY(-5px);
   transition: 500ms ease;
}

#textdiv {
    margin: auto;
    font-size:11px;
    letter-spacing:5px;
    padding:10px;
    color: black;
    font-weight: lighter;
    text-align: justify;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

#imagediv {
    margin: auto;
    font-size:11px;
    letter-spacing:5px;
    padding:5px;
    color: white;
    font-weight: lighter;
    text-align: justify;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
}


img {
    height: 100%;
    width: 100%;
}

#container.reverse {
    flex-direction: row-reverse;
    transition: 500ms ease;
}

p#vedat {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    font-size: 12px;
    color: white;
    letter-spacing: 10px;
}
